# Sorting dataframe or series

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('http://bit.ly/imdbratings')

In [3]:
df.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [4]:
df.title.sort_values()

542     (500) Days of Summer
5               12 Angry Men
201         12 Years a Slave
698                127 Hours
110    2001: A Space Odyssey
               ...
955         Zero Dark Thirty
677                   Zodiac
615               Zombieland
526                     Zulu
864                    [Rec]
Name: title, Length: 979, dtype: object

### Here first number wise sorted & alphabetical order

In [5]:
df['genre'].sort_values()

152     Action
753     Action
619     Action
129     Action
871     Action
        ...
263    Western
236    Western
119    Western
421    Western
704    Western
Name: genre, Length: 979, dtype: object

In [6]:
type(df['genre'].sort_values())

pandas.core.series.Series

### So, the sort_values() return pandas series

## Descending order

In [7]:
df['genre'].sort_values(ascending = False)

704    Western
421    Western
119    Western
236    Western
263    Western
        ...
871     Action
129     Action
619     Action
753     Action
152     Action
Name: genre, Length: 979, dtype: object

## Arrange the dataframe by single field

In [8]:
df.sort_values('genre')

,star_rating,title,content_rating,genre,duration,actors_list
152,8.2,V for Vendetta,R,Action,132,"[u'Hugo Weaving', u'Natalie Portman', u'Rupert..."
753,7.6,Escape from Alcatraz,PG,Action,112,"[u'Clint Eastwood', u'Patrick McGoohan', u'Rob..."
619,7.7,Forbidden Planet,PASSED,Action,98,"[u'Walter Pidgeon', u'Anne Francis', u'Leslie ..."
129,8.3,Ran,R,Action,162,"[u'Tatsuya Nakadai', u'Akira Terao', u'Jinpach..."
871,7.5,X2,PG-13,Action,134,"[u'Patrick Stewart', u'Hugh Jackman', u'Halle ..."
...,...,...,...,...,...,...
263,8.1,Rio Bravo,NOT RATED,Western,141,"[u'John Wayne', u'Dean Martin', u'Ricky Nelson']"
236,8.1,High Noon,PG,Western,85,"[u'Gary Cooper', u'Grace Kelly', u'Thomas Mitc..."
119,8.3,Unforgiven,R,Western,131,"[u'Clint Eastwood', u'Gene Hackman', u'Morgan ..."
421,7.9,The Outlaw Josey Wales,PG,Western,135,"[u'Clint Eastwood', u'Sondra Locke', u'Chief D..."
704,7.6,High Plains Drifter,R,Western,105,"[u'Clint Eastwood', u'Verna Bloom', u'Marianna..."

**Here all the values are arranged by the genre alphabetically**

In [9]:
type(df.sort_values('genre'))

pandas.core.frame.DataFrame

Now it returns the entire data frame

In [10]:
df.sort_values('duration',ascending=False)

,star_rating,title,content_rating,genre,duration,actors_list
476,7.8,Hamlet,PG-13,Drama,242,"[u'Kenneth Branagh', u'Julie Christie', u'Dere..."
157,8.2,Gone with the Wind,G,Drama,238,"[u'Clark Gable', u'Vivien Leigh', u'Thomas Mit..."
78,8.4,Once Upon a Time in America,R,Crime,229,"[u'Robert De Niro', u'James Woods', u'Elizabet..."
142,8.3,Lagaan: Once Upon a Time in India,PG,Adventure,224,"[u'Aamir Khan', u'Gracy Singh', u'Rachel Shell..."
445,7.9,The Ten Commandments,APPROVED,Adventure,220,"[u'Charlton Heston', u'Yul Brynner', u'Anne Ba..."
...,...,...,...,...,...,...
293,8.1,Duck Soup,PASSED,Comedy,68,"[u'Groucho Marx', u'Harpo Marx', u'Chico Marx']"
88,8.4,The Kid,NOT RATED,Comedy,68,"[u'Charles Chaplin', u'Edna Purviance', u'Jack..."
258,8.1,The Cabinet of Dr. Caligari,UNRATED,Crime,67,"[u'Werner Krauss', u'Conrad Veidt', u'Friedric..."
338,8.0,Battleship Potemkin,UNRATED,History,66,"[u'Aleksandr Antonov', u'Vladimir Barsky', u'G..."
389,8.0,Freaks,UNRATED,Drama,64,"[u'Wallace Ford', u'Leila Hyams', u'Olga Bacla..."

## Sort with two columns

In [14]:
df.sort_values(['content_rating','genre'])

,star_rating,title,content_rating,genre,duration,actors_list
563,7.8,Goldfinger,APPROVED,Action,110,"[u'Sean Connery', u'Gert Fr\xf6be', u'Honor Bl..."
767,7.6,"It's a Mad, Mad, Mad, Mad World",APPROVED,Action,205,"[u'Spencer Tracy', u'Milton Berle', u'Ethel Me..."
896,7.5,From Russia with Love,APPROVED,Action,115,"[u'Sean Connery', u'Robert Shaw', u'Lotte Lenya']"
71,8.4,North by Northwest,APPROVED,Adventure,136,"[u'Cary Grant', u'Eva Marie Saint', u'James Ma..."
333,8.0,The Searchers,APPROVED,Adventure,119,"[u'John Wayne', u'Jeffrey Hunter', u'Vera Miles']"
...,...,...,...,...,...,...
387,8.0,Midnight Cowboy,X,Drama,113,"[u'Dustin Hoffman', u'Jon Voight', u'Sylvia Mi..."
913,7.5,Suspiria,X,Horror,92,"[u'Jessica Harper', u'Stefania Casini', u'Flav..."
649,7.7,Where Eagles Dare,NaN,Action,158,"[u'Richard Burton', u'Clint Eastwood', u'Mary ..."
936,7.4,True Grit,NaN,Adventure,128,"[u'John Wayne', u'Kim Darby', u'Glen Campbell']"
187,8.2,Butch Cassidy and the Sundance Kid,NaN,Biography,110,"[u'Paul Newman', u'Robert Redford', u'Katharin..."

**Here first content rating is sorted & values are sorted within genre field**